{% extends '@layouts/base.twig' %}

{% set scope = {
    slides: [
        {
            desktopImage: 'assets/images/mockup/slides/slide-desktop.png',
            mobileImage: 'assets/images/mockup/slides/slide-mobile.png',
            title: 'Проектируем и строим загородные дома',
            text: 'Строим дома «под ключ»: от этапа проектирования и до финишной отделки помещений',
        },
        {
            desktopImage: 'assets/images/mockup/slides/slide-desktop.png',
            mobileImage: 'assets/images/mockup/slides/slide-mobile.png',
            title: 'Проектируем и строим загородные дома',
            text: 'Строим дома «под ключ»: от этапа проектирования и до финишной отделки помещений',
        },
        {
            desktopImage: 'assets/images/mockup/slides/slide-desktop.png',
            mobileImage: 'assets/images/mockup/slides/slide-mobile.png',
            title: 'Проектируем и строим загородные дома',
            text: 'Строим дома «под ключ»: от этапа проектирования и до финишной отделки помещений',
        },
    ]
}%}

{% block main %}
    <div class="Container">
        <div class="Layout__section Layout_section--slider">
            {% include '@components/slider/slider.twig' with {
                items: scope.slides,
            } %}
        </div>
    </div>
{% endblock %}